.perf-tile {
    border-radius: 20px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.25);
}

.perf .progress-chart {
  opacity: 0.7;
}

.perf-name {
  font-size: 25px;
  font-weight: 400;
  color: rgba(255,255,255,0.8);
}

.overlay-box {
  padding: 55px 0 0 0 ;
}


.stat1-value, .stat2-value {
  font-weight: 400;
  font-size: 30px;
  margin: -3px 0;
}

.stat1-name, .stat2-name {
  font-weight: 200;
  font-size: 20px;
  margin: -7px 0 7px;
}