

.network-settings * {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    outline: none;
  }
  
 
  .network-settings .scroll-window {
    padding: 0px 10px 10px;
  }
 
.network-settings .network-expander {
  margin: 5px 0 0;
}

.network-settings .network-expander title {
  opacity: 0.7;
  padding: 0 5px;
}

.network-settings .network-expander title:hover {
  opacity: 0.8;
  background: rgba(255,255,255,0.05);
}

.network-settings .network-expander title label {
  color: white;
  padding: 4px 5px;
  font-size: 15px;
  font-family: monospace;
  font-weight: 400;
}
 
  .network-settings .network-entry-box {
    background: linear-gradient(150deg,rgba(255,255,255,0.03),rgba(255,255,255,0.07));
    border-radius:10px;
    margin: 5px 0;
    padding: 3px 10px 3px 0;
  }
  
  .network-settings .network-entry-box:hover {
    background: linear-gradient(150deg,rgba(255,255,255,0.06),rgba(255,255,255,0.12));
  }
  
  .network-settings .icon {
    min-width: 65px;
    min-height: 50px;
    margin: 0 0 0 0;
    opacity: 0.8;
    -gtk-icon-filter: sepia(10%) saturate(2000%) hue-rotate(308deg);
  }

  .network-settings .off .icon {
    -gtk-icon-filter: invert(40%);
  }
  
  .network-settings .text-grid {
    padding: 2px 0;
  }
  
  .network-settings .network-name {
    font-weight: 700;
    font-size: 22px;
    margin: 0px 0 -1px 0;
  }

.network-settings .off {
  opacity: 0.5;
}
  
  .network-settings .network-subtitle {
    margin: -3px 0 0px 0;
    font-weight: 300;
    font-size: 16px;
    color: rgba(255,255,255,0.7);
  }

  .network-settings .error {
    font-weight: 400;
    color: rgba(200,70,30,1.0);
  }
  
  .network-settings .name {
    margin: -3px 0 0px 0;
    font-family: "Font Awesome 7 Free Solid";
    font-weight: 500;
    font-size: 16px;
    color: rgba(255,255,255,0.4);
  }
  
  .network-settings .value {
    margin: -3px 5px 0px 0;
    font-family: monospace;
    font-weight: 300;
    font-size: 16px;
    color: rgba(255,255,255,0.8);

  }
  
  
  .network-settings .menu-box {

    opacity: 0;
    margin: 5px 5px 10px;
    transition: 1s;
  }
  
  .network-settings .menu-shown {
    opacity: 1.0;
    margin-top: 5px;
  }
  
  .network-settings .menu-grid {
    padding-left: 10px;
  }
  
  .network-settings .button {
    background: rgba(255,255,255,0.1);
    margin: 0 0 0 0px;
    padding: 10px;
    border-radius: 10px;
  }
  
  .network-settings .button:hover {
    background: rgba(255,255,255,0.2);
  }
  
  .network-settings .button:active {
    background: rgba(255,255,255,0.3);
  }

.network-settings .password-entry {
  background: rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.4);
  color: rgba(255,255,255,0.8);
  padding: 5px 5px 5px 10px;
  font-size: 20px;
  font-family: mono;
  font-weight: 400;
}

.network-settings .password-entry .right {
  padding: 0 10px 0 10px;
}

.network-settings .busy * {
  color: rgba(255,255,255,0.6);
  opacity: 0.95;
}