.weather {
    padding: 0 10px 5px 0;
  }
  
  .weather * {
    margin: 0;
    padding: 0;
  }
  
  .weather-day-box {
    background: transparent;
  }
  
  .weather .day-temp {
    font-weight: 400;
    margin: 0 4px;
  }
  
  .weather .night-temp {
    font-weight: 400;
    opacity: 0.7;
    margin: 0 4px;
  }
  
  .weather .rain-chance {
    color: rgba(150,200,250,1.0);
    font-weight: 400;
  }
  
  .weather .icon {
    margin: 2px 0;
  }
  
  .weather .separator {
    font-weight: 200;
  }
  
  .weather .main * {
    font-size: 2rem;
  }